<div class="body">
    <div class="contenedor-descubrir">
        <div class="encabezado-descubrir">
            <h1><strong>Descubrir</strong></h1>
            <input type="text" class="busqueda-libro" placeholder="Buscar libros...">
        </div>

        <div class="grid-libros">
            <div class="tarjeta-libro">
                <div class="imagen-libro"></div>
                <div class="info-libro">
                    <h3>El señor de los anillos</h3>
                    <p class="autor-libro">J.R.R. Tolkien</p>
                    <button class="btn-accion">+ Agregar</button>
                </div>
            </div>

            <div class="tarjeta-libro">
                <div class="imagen-libro"></div>
                <div class="info-libro">
                    <h3>Orgullo y prejuicio</h3>
                    <p class="autor-libro">Jane Austen</p>
                    <button class="btn-accion">+ Agregar</button>
                </div>
            </div>

            <div class="tarjeta-libro">
                <div class="imagen-libro"></div>
                <div class="info-libro">
                    <h3>Forrest Gump</h3>
                    <p class="autor-libro">Winston Groom</p>
                    <button class="btn-accion">+ Agregar</button>
                </div>
            </div>

            <div class="tarjeta-libro">
                <div class="imagen-libro"></div>
                <div class="info-libro">
                    <h3>Mein kapf</h3>
                    <p class="autor-libro">Adolf Hitler</p>
                    <button class="btn-accion">+ Agregar</button>
                </div>
            </div>
        </div>
    </div>
</div>
