<footer class="footer">
    <div class="contenedor-footer">

        <div class="contenido-footer">

            <div class="seccion-footer">
                <h3><strong>Read & Earn</strong></h3>
                <p>Un libro, mil mundos por descubrir</p>
            </div>

            <div class="seccion-footer">
                <h3><strong>Navegación</strong></h3>
                <ul>
                    <li><a href="/biblioteca">Biblioteca</a></li>
                    <li><a href="/descubrir">Descubrir</a></li>
                    <li><a href="/logros">Logros</a></li>
                    <li><a href="/logros">Premios</a></li>
                </ul>
            </div>

            <div class="seccion-footer">
                <h3><strong>Información</strong></h3>
                <ul>
                    <li><a href="#">Sobre nosotros</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Política de privacidad</a></li>
                    <li><a href="#">Términos de servicio</a></li>
                </ul>
            </div>

            <div class="seccion-footer">
                <h3><strong>Síguenos</strong></h3>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">LinkedIn</a></li>
                </ul>
            </div>

        </div>

    </div>
</footer>
